html{
    font-size: 16px;
}

body{
    background-color: #ffffff;
    margin : 0px; 
    padding: 0px;
    box-sizing: border-box;
    color: #000000;
}

.uniform_spacing{
    margin : 20px 44px;
}

.onhover {
    transition: color 0.3s ease;
}

.onhover:hover {
    color: #0096FF;
    cursor: pointer;
}



