<footer class="uniform_spacing">
    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img style="height: 70px; width: auto;" src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
            </div>
            <div class="col">
                <p style="font-weight: bold;">
                    Navigation
                </p>
                <nav>
                    <ul class="list-unstyled ">
                        <li class="onhover">Resume</li>
                        <li class="onhover">Resources</li>
                        <li class="onhover">Pricing</li>
                        <li class="onhover">FAQ</li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <p style="font-weight: bold;">
                    Contacts
                </p>
                <nav>
                    <ul class="list-unstyled">
                        <li>prateekrauniyar345@gmail.com</li>
                        <li>(208) 310 2350</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>&copy; 2025 All rights reserved.</p>
    </div>
</footer>