<div class="d-flex justify-content-between align-items-center uniform_spacing">
    <!-- brand -->
    <div class="" style="cursor: pointer;">
        <a href="/"><img style="height: 70px; width: auto;" src="{{url_for('static', filename='images/logo.png')}}" alt="logo"></a>
    </div>

    <!-- navbar -->
    <div>
        <nav class="fw-bold" style="font-size: 17px;">
            <ul class="list-unstyled d-flex  justify-content-between align-items-center">
                <li class="me-5 onhover">Resume</li>
                <li class="me-5 onhover">Resources</li>
                <li class="me-5 onhover">Pricing</li>
                <li class="onhover">FAQ</li>
            </ul>
        </nav>
    </div>

    <!-- sign in and sign up -->
    <div style="font-size: larger;">
        <a href="/login" class="btn" style="color: #0096FF; border: none; background-color: white;">Sign In</a>
        <a href="/register" class="btn" style="color: #0096FF; border: 1px solid #0096FF; border-radius: 8px;  background-color: white;">Sign Up</a>
    </div>

</div>
